/* stylelint-disable no-descending-specificity */
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Raleway:wght@400;600&family=Roboto+Slab:wght@100;400;500;600&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;600;700;800&family=Poppins:wght@100;300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1440px;
  }
}

/* V A R I A B L E S */

$verdeAma: #8acc0d;
$azulAma: #2157cc;
$cinzaAma: #606060;
$cinzaAma2: #f6f6f6;

/* Colors */
$primary-color: #eab818;
$secondary-color: #5f716b;
$secondary-dark-color: #38433f;
$tertiary-color: #8fb1a7;
$light-color: #fbf8f8;
$dark-color: #333735;
$light-grey: #e0e1e1;
$gradientGreenBottom: #00cc7a;
$gradientGreenTop: #00d857;
$colorFonte: #00ce73;

/* Spacing */
$spaceUnit: 4px;

/* Button */
$padding-button: 16px 32px 16px 32px;

/* Typgraphy */
$sans-serif: 'Exo 2', sans-serif;
//$serif: 'Roboto Slab', sans-serif;
$serif: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;
$light-weight: 100;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$h1size: 48px;
$h2size: 40px;
$h3size: 32px;
$h4size: 24px;
$h5size: 20px;
$h6size: 16px;
$body-type: 16px;
$body-large-type: 18px;
$body-small-type: 14px;
$caption: 12px;
$lineHeight120: 120%;
$lineHeight130: 130%;
$lineHeight140: 140%;
$lineHeight150: 150%;
$lineHeight180: 180%;
$lineHeight200: 200%;

//Shadow
$cards-shadow: 1px 55px 80px -40px rgba(56, 67, 63, 0.1);
$img-shadow: 1px 55px 80px -40px rgba(56, 67, 63, 0.45);

$spaceUnit: 4px;

.vc_custom_heading_wrap {
  margin-bottom: calc(4 * #{$spaceUnit}) !important;
}

@media (max-height: 768px) {
  .steps,
  .programas {
    height: initial !important;
  }

  .tarefasODS {
    height: fit-content !important;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    img {
      height: 40px !important;
    }
  }

  .olaPrograma {
    background: #fff !important;
  }

  .programas {
    height: initial !important;

    img {
      margin-top: 20px !important;
    }

    h1 {
      font-size: 35px !important;
      line-height: initial !important;
    }

    p {
      font-size: 18px !important;
    }
  }

  .carousel-cards {
    .carousel-indicators li {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background: #006b33;
      border: 0;
      margin-bottom: 10px;
    }
  }

  .tarefasODS {
    min-height: 110vh !important;
    height: initial !important;
    display: block !important;
    .bgVerde {
      background-color: none !important;
    }

    h1 {
      text-align: center;
      font-size: 30px !important;
      margin-top: 40px;
    }

    h3 {
      font-weight: bold;
      color: #0056d1 !important;
      font-size: 21px !important;
      text-align: center;
    }

    p {
      font-size: 18px !important;
      text-align: center;
    }
  }

  .ondeestamos h1 {
    font-size: 35px !important;
    line-height: 30px !important;
  }

  .steps {
    p {
      width: 100% !important;
      font-size: 26px;
    }
  }
}

/* FIM MOBILE */

main {
  background: #fff;
}

.programas {
  height: 100vh;

  .olaPrograma {
    background: #e8e8e8;

    strong {
      font-weight: 800;
    }
  }

  .programasAmbientais {
    background: #fff;
  }

  span {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 18px;
    line-height: 26px;
    text-transform: lowercase;
    color: $verdeAma;
  }

  h1 {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 55px;
    line-height: 60px;
    color: $verdeAma;
  }

  p {
    font-family: $serif;
    font-style: normal;
    font-weight: $regular-weight;
    font-size: 21px;
    line-height: $lineHeight140;
    color: $verdeAma;
    max-width: 508px;

    strong {
      font-weight: $bold-weight;
    }
  }

  a {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: lowercase;
    color: $azulAma;

    .b-icon {
      color: $verdeAma;
    }
  }

  img {
    max-width: 50%;
  }

  hr {
    background: #b9e06e;
  }

  .cashback,
  .zeladoria,
  .consciencia {
    background: #79df4f;

    h1 {
      font-family: $sans-serif;
      font-style: normal;
      font-weight: $bold-weight;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: $azulAma;
    }

    p {
      font-family: $serif;
      font-style: normal;
      font-weight: $regular-weight;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
      color: #252528;
    }
  }
}

.steps {
  background: $verdeAma;
  font-family: $sans-serif;

  h2 {
    color: #fff;
    font-weight: $bold-weight;
    font-size: 35px;
  }

  p {
    color: #fff;
    width: 70%;
  }
}

.video {
  min-height: 260px;
}

.tarefasODS {
  background: url('~/assets/ods/ods.png') repeat-x center top;
  background-size: cover;
  height: 110vh;
  font-family: $sans-serif;

  h1 {
    color: #fff;
    font-size: 55px;
    font-weight: $bold-weight;
  }

  h3 {
    color: #fff;
    font-size: 30px;
    font-weight: $bold-weight;
    max-width: 500px;
  }

  p {
    color: #fff;
    font-size: 20px;
    font-family: $serif;
    line-height: $lineHeight150;
    max-width: 500px;
  }
}

.governanca {
  span {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 18px;
    line-height: 26px;
    text-transform: lowercase;
    color: $verdeAma;
  }

  h1 {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 39px;
    line-height: 50px;
    letter-spacing: -0.01em;
    color: $azulAma;
  }

  p {
    font-family: $serif;
    font-style: normal;
    font-weight: $regular-weight;
    font-size: 18px;
    line-height: 30px;
    color: #252528;
  }

  a {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: lowercase;
    color: $azulAma;

    .b-icon {
      color: $verdeAma;
    }
  }
}

section {
  .identidade {
    background: #e8f5cf;
  }

  .indice {
    background: #d0eb9e;
  }

  .gestao {
    background: #b9e06e;
  }

  h2 {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 20px;
    line-height: 25px;
    color: $azulAma;
  }

  p {
    font-family: $serif;
    font-style: normal;
    font-weight: $regular-weight;
    font-size: 18px;
    line-height: 30px;
    color: #252528;
  }
}

.veja_mais_posts {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.08em;
  color: #fff;
  padding: 12px 32px;
  box-sizing: border-box;
  border-radius: 16px;
  display: inline-block;
  background: $azulAma;
  margin-bottom: 35px;

  &:hover {
    color: #fff;
  }
}

.ultimosPosts {
  h1 {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 31px;
    line-height: 40px;
    color: $verdeAma;
  }

  .card {
    border: 0;

    .card-img-top {
      background: #e3e3e9;
      border-radius: 8px;
      box-shadow: 1px 12px 16px rgba(0, 0, 0, 0.15);
    }

    .card-body {
      a {
        font-family: $sans-serif;
        font-style: normal;
        font-weight: $bold-weight;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: lowercase;
        color: $azulAma;

        .b-icon {
          color: $verdeAma;
        }
      }
    }
  }
}

.ondeestamos {
  h3 {
    color: $azulAma;
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 26px;
    line-height: 26px;
  }

  h1 {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 45px;
    line-height: 40px;
    color: $verdeAma;
  }
}

.steps,
.programas,
.tarefasODS {
  height: 110vh;
}

.contato {
  h1 {
    color: $verdeAma;
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 4rem;
    margin-bottom: 1rem;

    &::after {
      content: '';
      position: absolute;
      border-color: $verdeAma;
      border-style: solid;
      border-width: 0.4rem 0 0 0;
      top: 1.2em;
      left: 0.3em;
      width: 1em;
    }
  }

  p {
    color: $cinzaAma;
    font-family: $serif;

    a {
      color: #252528;
      font-weight: $bold-weight;
    }
  }

  .subtitle {
    padding: 4rem 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border-color: #bfbfbf;
      border-style: solid;
      border-width: 0.1rem 0 0 0;
      bottom: 1.2em;
      left: 0.3em;
      width: 3em;
    }
  }

  .borderRight {
    border-left: 1px solid #DDDEE3;
    padding-left: 8rem;
    @media (max-width: 992px) {
      border: none;
      padding: 0 !important;
    }
  }

  label {
    width: 100%;
    font-family: $serif;

    span {
      color: red;
      font-size: 12px;
      margin: 5px;
    }
  }

  input,
  textarea,
  select {
    font-family: $serif;
    width: 100%;
    margin-bottom: 0;
    border: 1px solid #C6C9D0;
    border-radius: 12px;
    padding: 8px 10px;
    &:focus {
      outline: 1px solid #5B8899;
    }
  }

  button {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: $bold-weight;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.08em;
    color: $verdeAma;
    padding: 12px 32px;
    box-sizing: border-box;
    border-radius: 16px;
    display: inline-block;
    background: $azulAma;
    margin-bottom: 35px;
    border: 0;

    &:hover {
      color: #fff;
    }
  }
}

.download {
  .bgdownload {
    background: rgb(71, 197, 136);
    background: linear-gradient(
      0deg,
      rgba(71, 197, 136, 1) 0%,
      rgba(76, 193, 99, 1) 100%
    );
  }

  h1 {
    color: #fff;
    font-family: $sans-serif;
    font-weight: $regular-weight;
    font-style: normal;
    font-size: 3rem;
    margin-bottom: 2rem;

    strong {
      font-weight: $bold-weight;
    }
  }

  h2 {
    color: #fff;
    font-family: $sans-serif;
    font-weight: $bold-weight;
    font-style: normal;
    font-size: 2rem;
    margin-top: 2rem;
  }

  p {
    color: #fff;
    font-family: $sans-serif;
    margin-bottom: 1rem;
  }
}

.termos {
  p {
    margin-bottom: initial !important;
    font-family: $sans-serif;
  }

  .term_Text {
    p:first-child {
      font-size: 2rem;
      margin-bottom: 2rem !important;

      span {
        color: $verdeAma !important;
        font-weight: $bold-weight;
      }

      &::after {
        content: '';
        position: absolute;
        border-color: $verdeAma;
        border-style: solid;
        border-width: 0.4rem 0 0 0;
        top: 1.7em;
        left: 0.5em;
        width: 3em;
      }
    }
  }
}
