.como-funciona {
  padding: 64px 0;
  @media (max-width: 920px) {
    padding: 32px 0;
  }
  .carousel {
    .carousel-item {
      display: flex;
      justify-content: center;
      img {
        width: 500px;
        height: 700px;
        object-fit: contain;
        object-position: bottom;
        @media (max-width: 962px) {
          width: 400px;
          height: 600px;
        }
        @media (max-width: 600px) {
          width: 300px;
          height: 500px;
        }
      }
    }
  }
}
